body {
    color: white;
    font-size: small;
}
h2,
h3 {
    color: black;
}

div[class*="col-xs"] {
    background-color: blue;
    min-height: 40px;
}
p {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    overflow: hidden;
}


.row>* {
    border: solid 1px white ;
}

.container-fluid>.row>* {
    border: solid 2px blue ;
    background-color: green;
    
}
.container {
    padding-top: 30px ;

}

.container.top,
.container.middle,
.container.bot {
    padding-top: 0;
}

.container.top>.row,
.container.middle>.row,
.container.bot>.row  {
    height: 80px;
}

.container.middle>.row>.col-xs-6:last-child{
    margin-top: 20px;
}
.container.bot>.row>.col-xs-6:last-child{
    margin-top: 41px;
    border-bottom: 0;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}